        :root {
             --branco-pricipa: #FFFFFF;
             --cinza-secundário: #C0C0C0;
             --botão-azul: #167bf7;
             --cor-de-fundo: #00030C;
}
    
    body {
background-color: var (--cor-de-fundo);
var(--branco-pricipal);

    }